<h1>Editing burger</h1>

<%= render "form", burger: @burger %>

<br>

<div class="boutons_edit">
  <%= link_to image_tag("montrer_burger.png", class: "montrer_burger"), @burger %>
  <%= link_to image_tag("retour_aux_burger.png", class: "retour_aux_burgers"), burgers_path %>
</div>
