<h1>Editing icecream</h1>

<%= render "form", icecream: @icecream %>

<br>

<div class="boutons_edit">
  <%= link_to image_tag("montrer_glace.png", class: "montrer_burger"), @icecream %>
  <%= link_to image_tag("retour_aux_glaces", class: "retour_aux_burgers"), @icecream %>
</div>
