<h1>Editing fry</h1>

<%= render "form", fry: @fry %>

<br>

<div>
  <%= link_to image_tag("montrer_frite.png", class: "montrer_burger"), @fry %> |
  <%= link_to image_tag("retour_aux_frites.png", class: "retour_aux_burgers"), fries_path %>
</div>
