<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<h1>Créer un nouveau encas</h1>

<%= render "form", fry: @fry %>

<br>

<div>
  <%= link_to image_tag("retour_arriere.png", class: "retour"), fries_path %>
</div>
