/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @font-face {
  font-family: 'NomDeLaTypographie';
  src: url('app/assrts/font/Insanibu.woff2') format('woff2'), /* Format WOFF2 */
       url('app/assrts/font/Insanibu.woff') format('woff'); /* Format WOFF */
  /* Ajoutez d'autres formats si nécessaire */
}

header {
  background-color: #522411;
  width: 100%;
  display: flex;
  justify-content: center;
}

img[alt="Logo du Roi du Burger"] {
  margin: 20px 0px 20px 0px;
  width: 200px;
  height: 200px;
}

.button_header {
  display: flex;
  align-items: center;
}

.creat_burger {
  font-family: insaniburger;
  background-color: #CC1900;
  color: #ECE6DD;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
  margin: 10vh;
}

.creat_burger:hover {
  background-color: #ECE6DD;
  color: #CC1900;
  cursor: pointer;
}

.view_burger {
  font-family: insaniburger;
  background-color: #CC1900;
  color: #ECE6DD;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
}

.view_burger:hover {
  background-color: #ECE6DD;
  color: #CC1900;
  cursor: pointer;
}

footer{
  background-color: #522411;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.txt_footer {
  color: #ECE6DD;
  font-size: 20px;
  font-weight: bold;
  font-family: insaniburger;
}
