.disposition_edit_sup {
  display: flex;
}

.modifier_burger {
  width: 15vw;
  margin: 20px 30px 0px 20px;
  transition: 0.5s;
}

.modifier_burger:hover{
  transform: scale(1.1);
}

.supprimer_burger{
  width: 15vw;
  margin: 20px 0px 0px 20px;
  transition: 0.5s;
}

.supprimer_burger:hover{
  transform: scale(1.1);
}

.destroy {
  background: none;
  border: none;
}

.retour_aux_burgers{
  width: 15vw;
  margin: 20px 0px 0px 20px;
  transition: 0.5s;
}

.retour_aux_burgers:hover{
  transform: scale(1.1);
}

.boutons_edit{
  display: flex;
  flex-direction: column;
}

.montrer_burger{
  width: 15vw;
  margin: 20px 0px 0px 20px;
  transition: 0.5s;
}

.montrer_burger:hover{
  transform: scale(1.1);
}
